body{
    box-sizing: border-box;
    background: #ffffff;
    margin: 0;
    padding: 0;
    
}
.hamburger {
    width:30px;
    height: 30px;
    display: none
}
.mobile-hamburger{
    width:30px;
    height: 30px;
}
@media screen and (max-width: 1000px) {
    .hamburger {
        display: flex;
    }
  }

.navbar-mobile {
    display: flex;
  }
.mobile-menu {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 20px;
  }
  .mobile-menu a{
    text-decoration: none;
    color: #636363;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 600px;
  }
  .mobile-header{
    display: none;
  }
.menu-header{
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    display: flex;
    justify-content: left;
    align-items: center;
}
.header {
    background: #EBFCFF;
    overflow-x: hidden;
}
.header-content{
    padding: 10px 0;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
    .menu {
        display: none;
    }
  }
.logo-desktop {
    margin-right: 80px;
}

.logo-mobile {
    display: none;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .logo-mobile {
        display: flex;
    }
  }
.menu-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 34px;
    padding: 0;
}
.menu-items a {
    text-decoration: none;
    color: #636363;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 600px;
}
.login-button button{
    background-color: #ED6710;
    border: 0;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
}
@media screen and (max-width: 1000px) {
    .login-button {
        display: none;
    }
  }
.login-button-mobile button{
    background-color: #ED6710;
    border: 0;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
}
.notice-button {
    margin-top: 20px;
}
.notice-button button {
    font-size: 17px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    background: #ED6710;
    border: none;
    border-radius: 33px;
    padding: 2px 30px;
}
.close-notice{
    display: flex;
}
@media screen and (max-width: 768px) {
    .close-notice {
        display: none;
    }
  }
@media screen and (max-width: 768px) {
    .notice-button button {
        font-size: 12px;
    }
  }
.notice-text{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice-text span{
    margin-left: 9px;
}
.notice-text span .check {
    text-decoration: underline;
}
.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 150px;
}
.banner-text .banner-text-header{
    max-width: 331px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #218698;
}
@media screen and (max-width: 768px) {
    .banner-text .banner-text-header {
        margin: 0;
    }
  }
.banner-text .banner-text-header span {
    color: #ED6710;
}
.banner-text-description {
    color: #636363;
    font-size: 20px;
    line-height: 23.7px;
    max-width: 565px;
}
.banner-image{
    position: absolute;
    right: 0;
    top: 100px;
}
@media screen and (max-width: 1200px) {
    .banner-image {
        display: none;
    }
  }

@media screen and (max-width: 1200px) {
.banner-image-mini {
    display: none;
}
}

.banner-image-mini-man {
    position: absolute;
    right: 231px;
}
.banner-image-mini-woman {
    position: absolute;
    right: 315px;
    top: 38px;
}
.banner-buttons {
    display: flex;
    font-size: 15px;
    
}
.first-banner-button {
    background: #ED6710;
    border: none;
    color: #fff;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: bold;
}
.second-banner-button {
    color: #ED6710;
    border: none;
    background: none;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}
.clients {
    padding: 100px 0;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    

}
.clients-text p {
    font-size: 17px;
    color: #ED6710;
    
}
.clients-text div {
    color: #50A0AF;
    font-size: 32px;

}
.clients-images {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
    margin-top: 60px ;
    overflow-x: hidden;
}
.cashia{
    display: grid;
    place-items: center;
}
.first{
    display: grid;
    place-items: center;
} 
.offers {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px;
    background: #50A0AF;
    border-radius: 40px;
    
}
@media screen and (max-width: 500px) {
    .offers {
        width:auto;
    }
  }
.offers-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.offers-title p {
    font-size: 17px;
    font-weight: 500;
}
.offers-title div {
    font-size: 32px;
    font-weight: 600;
}
.offers-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    .offers-arrow {
        display: none;
    }
  }
.offers-arrow-back {
    background: #ED6710;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.offers-arrow-forth {
    background: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.card {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 240px;
    height: 336px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 768px) {
    .card {
      width: 450px;
      height: auto;
      align-items: center;
    }
  }
.card img {
    width:100%;
}
.card-container {
    padding: 14px 32px;
}
.card-container b{
    color: #ED6710;
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 16px;
}

.card-container p {
    color: #636363;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 11px;
}

.packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}
.ellipses {
    display: flex;
    gap: 12px;
}
@media screen and (max-width: 1444px) {
    .ellipses {
        display: none;
    }
  }
.packages-button button{
    background: #ED6710;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 12px 20px;
}
.reason{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 57px;
}
.reason-header{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #ED6710;
    margin-bottom: 29px;
}
.reason-description{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    max-width: 636px;
    margin: 0 20px;
    font-size: 32px;
    text-transform: capitalize;
    color: #50A0AF;
}
.resources {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}
.big-ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #50A0AF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.resources-options {
    display: grid;
    place-items: center;
}
.resources-options p{
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #ED6710;
}
.resources-options div {
    max-width: 288px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #636363;
}
.budget {
    background: #EAF8FA;
    border-radius: 40px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding: 64px;
}
@media screen and (max-width: 500px) {
    .budget {
        width:auto;
    }
  }
.budget-fit {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #ED6710;
    margin-bottom: 8px;
}
.budget-choose {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: capitalize;
    color: #50A0AF;
    margin-bottom: 54px;

}
.business {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}
.business-scale {
    display: grid;
    gap: 20px;
    background: #fff;
    padding: 24px;
    border-radius: 16px;
    max-width: 400px;
}
.business-scale p{
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #218698;
    text-transform: capitalize;
    margin: 0;
}
.business-scale b {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #4D4D4D;
}

.business-scale .explore {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #ED6710;
}
.business-button {
    display: flex;
    justify-content: right;
    margin-top: 32px;
    font-weight: 700;

}
.faqs {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding: 100px 0;
}
@media screen and (max-width: 1024px) {
    .faqs {
      justify-content: center;
    }
  }
.questions {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: left;
    color: #1A1A1A;
}
.questions img {
    margin-right: 11px;
}
.faq-image {
    display: flex;
}
@media screen and (max-width: 1024px) {
    .faq-image {
      display: none;
    }
  }
.faq-text{
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: capitalize;
    color: #50A0AF;
}
.feedbacks-bg {
    background: #EBFCFF;

}
.feedbacks {
    padding: 100px 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
.avatar {
    display: flex;
    align-items: center;
}
.avatar img {
    margin-right: 10px;
}

.feedback-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
@media screen and (max-width: 768px) {
    .feedback-info {
      justify-content: center;
    }
  }
.men{
    background: #ffffff;
    
}
.middle {
    background: #FDF0E7;
}
.feedback-clients {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 35px 16px;
    border-radius: 24px;
}
.quote {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 29px;
}
.quote p{
    max-width: 266px;
}
.quote img {
    margin-right: 16px;
}
.quote-description {
    max-width: 266px;
}
.feedback-name b {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #50A0AF;
}
.ellipses-down {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 12px;
}
.footer-bg {
    background: #50A0AF;
    color: #fff;
}
.footer {
    padding: 100px 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FFFFFF;
    padding-top: 22px;
    margin-top: 30px;
}
.footer-links-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 1310px) {
    .footer-content {
      gap: 50px
    }
  }
.footer-items{
    flex: 0 0 25%;
    font-family: 'Rubik', sans-serif;
}
.footer-items b{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}
.footer-items p{
    font-size: 17px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
}
.footer-form input{
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
}
.footer-form button {
    padding: 10px;
    background: #ED6710;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;

}
@media screen and (max-width: 768px) {
    .footer-form button {
        margin-top: 10px;
    }
  }
.footer-social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.footer-social{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: none;
    color: #fff;
}
